<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Play</title>
    </head>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/node_modules/socket.io-stream/socket.io-stream.js"></script>
        <script src="/src/playSong-cs.js"></script>
        <script src="/src/MDB-test.js"></script>
        
        <div id="song-object">
            <audio id="audio" controls>
                <source src="" type="audio/mp3">
            </audio>
            <p>Input number from 0-3 then press Play</p>
            <input type="text" name="audio-input" id="audioInput" value="">
        </div>
        <div id="database">Hello</div>
    </body>
</html>