<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Play</title>
        <script type="text/javascript">
            var context = new AudioContext();
            var audioSound;
            var xmlhttp = new XMLHttpRequest();
            var audioId;
            function start(){
                xmlhttp.open("GET", '/playmusic?' + audioId, true);
                xmlhttp.responseType = "arraybuffer";
                xmlhttp.onload = function(){
                    context.decodeAudioData(xmlhttp.response, function(buffer){
                        audioSound = buffer;
                        playSound();
                    });
                }
                xmlhttp.send(); 
            }
            function playSound(){
                var playSound = context.createBufferSource();
                playSound.buffer = audioSound;
                playSound.connect(context.destination);
                playSound.start(0);
            }
            // Wait for page to load then grab start button and check it exists.
            window.onload = function(){ 
                var startElement = document.getElementById("btnStart");
                var audioInput = document.getElementById("audioInput");
                
                if(startElement){
                    audioInput.addEventListener("change", function(){
                        audioId = audioInput.value;
                    });
                    startElement.addEventListener("click", start);
                }
            }
        </script>
    </head>
    <body>
        <input type="text" name="audio-input" id="audioInput" value="">
        <button id="btnStart">Play</button>
    </body>
</html>